<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item menu-open">
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    {{#if isAdminPanel}}
                        <a href="/admin/orders/get" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Заказы</p>
                        </a>
                    {{else}}
                        <a href="/admin/orders/get" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Заказы</p>
                        </a>
                    {{/if}}
                </li>
                <li class="nav-item">
                    {{#if isUsers}}
                        <a href="/admin/users" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Пользователи</p>
                        </a>
                    {{else}}
                        <a href="/admin/users" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Пользователи</p>
                        </a>
                    {{/if}}
                </li>
                <li class="nav-item">
                    {{#if isRole}}
                        <a href="/admin/roles" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Роли</p>
                        </a>
                    {{else}}
                        <a href="/admin/roles" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Роли</p>
                        </a>
                    {{/if}}
                </li>
                <li class="nav-item">
                    {{#if isPermission}}
                        <a href="/admin/permissions" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Разрешения</p>
                        </a>
                    {{else}}
                        <a href="/admin/permissions" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Разрешения</p>
                        </a>
                    {{/if}}
                </li>
                <li class="nav-item">
                    {{#if isRoleCreate}}
                        <a href="/admin/roles/create" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Создание роли</p>
                        </a>
                    {{else}}
                        <a href="/admin/roles/create" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Создание роли</p>
                        </a>
                    {{/if}}
                </li>
                <li class="nav-item">
                    {{#if isPermissionCreate}}
                        <a href="/admin/permissions/create" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Создание разрешения</p>
                        </a>
                    {{else}}
                        <a href="/admin/permissions/create" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Создание разрешения</p>
                        </a>
                    {{/if}}
                </li>
                <li class="nav-item">
                    {{#if isGivePermission}}
                        <a href="/admin/permissions/give" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Выдача разрешений</p>
                        </a>
                    {{else}}
                        <a href="/admin/permissions/give" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Выдача разрешений</p>
                        </a>
                    {{/if}}
                </li>
                <li class="nav-item">
                    {{#if isSettings}}
                        <a href="/admin/settings" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Настройки</p>
                        </a>
                    {{else}}
                        <a href="/admin/settings" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Настройки</p>
                        </a>
                    {{/if}}
                </li>
            </ul>
        </li>
    </ul>
</nav>