<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item menu-open">
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    {{#if isParseData}}
                        <a href="/admin" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Обновить товары</p>
                        </a>
                    {{else}}
                        <a href="/admin" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Обновить товары</p>
                        </a>
                    {{/if}}
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-envelope"></i>
                        <p>Заказы</p>
                        <i class="right fas fa-angle-left"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {{#if isCreateOrder}}
                                <a href="/product/create/orders" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Заказ товара</p>
                                </a>
                            {{else}}
                                <a href="/product/create/orders" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Заказ товара</p>
                                </a>
                            {{/if}}
                        </li>
                        <li class="nav-item">
                            {{#if isDoneOrder}}
                                <a href="/admin/orders/getDone" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Завершенные заказы</p>
                                </a>
                            {{else}}
                                <a href="/admin/orders/getDone" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Завершенные заказы</p>
                                </a>
                            {{/if}}
                        </li>
                        <li class="nav-item">
                            {{#if isOldOrder}}
                                <a href="/admin/orders/getOld" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Доставка заказов</p>
                                </a>
                            {{else}}
                                <a href="/admin/orders/getOld" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Доставка заказов</p>
                                </a>
                            {{/if}}
                        </li>
                        <li class="nav-item">
                            {{#if isNewOrder}}
                                <a href="/admin/orders/getNew" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Новые заказы</p>
                                </a>
                            {{else}}
                                <a href="/admin/orders/getNew" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Новые заказы</p>
                                </a>
                            {{/if}}
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>Роли</p>
                        <i class="right fas fa-angle-left"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {{#if isRole}}
                                <a href="/admin/roles" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Роли</p>
                                </a>
                            {{else}}
                                <a href="/admin/roles" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Роли</p>
                                </a>
                            {{/if}}
                        </li>
                        <li class="nav-item">
                            {{#if isPermission}}
                                <a href="/admin/permissions" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Разрешения</p>
                                </a>
                            {{else}}
                                <a href="/admin/permissions" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Разрешения</p>
                                </a>
                            {{/if}}
                        </li>
                        <li class="nav-item">
                            {{#if isRoleCreate}}
                                <a href="/admin/roles/create" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Создание роли</p>
                                </a>
                            {{else}}
                                <a href="/admin/roles/create" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Создание роли</p>
                                </a>
                            {{/if}}
                        </li>
                        <li class="nav-item">
                            {{#if isPermissionCreate}}
                                <a href="/admin/permissions/create" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Создание разрешения</p>
                                </a>
                            {{else}}
                                <a href="/admin/permissions/create" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Создание разрешения</p>
                                </a>
                            {{/if}}
                        </li>
                        <li class="nav-item">
                            {{#if isGivePermission}}
                                <a href="/admin/permissions/give" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Выдача разрешений</p>
                                </a>
                            {{else}}
                                <a href="/admin/permissions/give" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Выдача разрешений</p>
                                </a>
                            {{/if}}
                        </li>
                        <li class="nav-item">
                            {{#if isGiveRole}}
                                <a href="/admin/roles/give" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Выдача ролей</p>
                                </a>
                            {{else}}
                                <a href="/admin/roles/give" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Выдача ролей</p>
                                </a>
                            {{/if}}
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    {{#if isUsers}}
                        <a href="/admin/users" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Пользователи</p>
                        </a>
                    {{else}}
                        <a href="/admin/users" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Пользователи</p>
                        </a>
                    {{/if}}
                </li>
                <li class="nav-item">
                    {{#if isSetting}}
                        <a href="/admin/settings" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Настройки</p>
                        </a>
                    {{else}}
                        <a href="/admin/settings" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Настройки</p>
                        </a>
                    {{/if}}
                </li>
                <li style="position:fixed;bottom:10px;" class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="fas fa-door-open nav-icon"></i>
                        <p>Выйти на главную</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>