<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->

	<head>

		<!-- Basic Page Needs
	================================================== -->
		<meta charset="utf-8">
		<title>Home &ndash; Santorini</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS
	================================================== -->
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic%7CMontserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='/views/santorini5/css/flexslider.css' rel='stylesheet' type='text/css'>
		<link href='/views/santorini5/css/font-awesome.css' rel='stylesheet' type='text/css'>
		<link href='/views/santorini5/css/weather-icons.css' rel='stylesheet' type='text/css'>
		<link href='/views/santorini5/css/bootstrap.css' rel='stylesheet' type='text/css'>
		<link href='/views/santorini5/css/prettyPhoto.css' rel='stylesheet' type='text/css'>
		<link href='/views/santorini5/css/mmenu.css' rel='stylesheet' type='text/css'>
		<link href='/views/santorini5/css/jquery-ui-1.10.4.datepicker.min.css' rel='stylesheet' type='text/css'>
		<link href='/views/santorini5/style.css' rel='stylesheet' type='text/css'>
		<link href='/views/santorini5/css/mediaqueries.css' rel='stylesheet' type='text/css'>
		<link href='/views/santorini5/colors/default.css' rel='stylesheet' type='text/css'>

		<!-- Favicons
	================================================== -->
		<link rel="shortcut icon" href="#">
		<link rel="apple-touch-icon" href="#">
		<link rel="apple-touch-icon" sizes="72x72" href="#">
		<link rel="apple-touch-icon" sizes="114x114" href="#">

		<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<![endif]-->

		
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

	</head>

	<body class=" ">
		{{>header}}
			<!-- #slider -->
			
			<main id="main">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 col-lg-offset-1">
                            <h1>Страница не найдена!</h1>
                            <div class="widget-area-2"><br>
                                <h3>Вам возможно будет интересно</h3>
								<div class="row">
									{{#each top_product}}
										<div class="col-sm-4">
											<div class="widget">

												<div class="item">
													<figure class="item-thumb">
														<a href="/single/{{this.id}}">
															<img src="/media/{{this.image}}" alt="Placeholder image" />
															<!--<img src="http://placehold.it/750x930" alt="Placeholder image" />
															<img src="https://www.wallpapertip.com/wmimgs/242-2426030_image.jpg" >
															-->
														</a>
													</figure>

													<div class="item-content">
														<a class="item-title btn" href="/single/{{this.id}}">{{this.title}}</a>
													</div>
												</div>
											</div>
										</div>
									{{/each}}
								</div>
							</div>

							<div class="widget-area-3">
								<div class="row">
									<div class="col-sm-8">
										<h3 class="widget-title">our blog</h3>

										<article class="entry">
											<figure class="entry-thumb">
												<a href="">
												<img src="/files/{{main_bottom_banner}}" alt="Placeholder image"/>{{!-- 750x425 --}}
												</a>
											</figure>
											<div id="Main_bottom_text"></div>
										</article>
									</div>

									<div class="sidebar col-sm-4">

										<div class="widget widget_ci_special_offer_widget">
											<h3 class="widget-title">special offer</h3>
											<div class="item">
												<figure class="item-thumb">
													<a href="/single/{{main_hot_product.id}}">
														<img src="/media/{{main_hot_product.image}}" alt="Placeholder image" />
													</a>
												</figure>

												<div class="item-content">
													<a class="item-title btn" href="/single/{{main_hot_product.id}}">{{main_hot_product.title}}</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>

			{{>footer }}
		</div>
		<!-- #page -->

		<!-- Javascript
================================================== -->
		<script type='text/javascript' src='/views/santorini5/js/jquery-1.10.1.min.js'></script>
		<script type='text/javascript' src='/views/santorini5/js/jquery-ui-1.10.4.custom.min.js'></script>
		<script type='text/javascript' src='/views/santorini5/js/superfish.min.js'></script>
		<script type='text/javascript' src='/views/santorini5/js/jquery.flexslider-min.js'></script>
		<script type='text/javascript' src='/views/santorini5/js/jquery.mmenu.min.js'></script>
		<script type='text/javascript' src='/views/santorini5/js/jquery.dropkick-min.js'></script>
		<script type='text/javascript' src='/views/santorini5/js/jquery.fitvids.js'></script>
		<script type='text/javascript' src='/views/santorini5/js/jquery.prettyPhoto.js'></script>
		<script type='text/javascript' src='/views/santorini5/js/contact.js'></script>
		<script type='text/javascript' src='/views/santorini5/js/scripts.js'></script>
		<script type='text/javascript' src='/public/404.js'></script>

	</body>

</html>