
<div class="container">
    <h1>Выдача разрешений</h1>
    {{#if error}}
        <font color='red'>{{error}}</font>
    {{/if}}
    <div class="row">
        <div class="col-lg-6">
            <form action="/admin/permissions/give" method="POST">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="roleId">
                    <option disabled selected>Выберите роль</option>
                    {{#each roles}}
                        <option value="{{this.id}}">{{this.role}}</option>
                    {{/each}}
                </select>

                <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="permissionId">
                    <option disabled selected>Выберите разрешение</option>
                    {{#each permissions}}
                        <option value="{{this.id}}">{{this.permission}}</option>
                    {{/each}}
                </select><BR><BR>
                <input type="submit" class="btn btn-secondary" value="Выдать разрешение">
            </form>
        </div>
    </div>
</div>