<table class="table table-striped">
    <tbody id="showOrders">
        <tr>
            <th>Твоар</th>
            <th>Размер</th>
            <th>Цена</th>
            <th>Адресс</th>
            <th>Номер</th>
        </tr>
        {{#each orders}}
            <tr> 
                <form action="/admin/orders/edit" method="POST">
                    <td><h5>{{this.title}}</h5></td>
                    <td><h5>{{this.dimension}}</h5></td>
                    <td><h5>{{this.NewPrice}}</h5></td>
                    <td><h5><input type="text" class="form-control" name="address" value="{{this.address}}"></h5></td>
                    <td><h5><input type="text" class="form-control" name="number" value="{{this.number}}"></h5></td>
                    <td>
                        <input type="hidden" name="orderId" value="{{this.id}}">
                        <input type="submit" class="btn btn-warning" value="Редактировать заказ">
                    </td>
                </form>
                {{#if @root.isDoneOrder}}
                    <td>
                        <form action="/admin/orders/repeat/{{this.id}}" method="POST">
                            <input type="submit" class="btn btn-info" value="Перевести в первую стадию обработки">
                        </form>
                    </td>
                {{else}}
                    {{#if @root.isNewOrder}}
                        <td>
                            <form action="/admin/orders/set/{{this.id}}" method="POST">
                                <input type="submit" class="btn btn-success" value="Обработать заказ">
                            </form>
                        </td>
                    {{else}}
                        <td>
                            <form action="/admin/orders/good/{{this.id}}" method="POST">
                                <input type="submit" class="btn btn-success" value="Заказ доставлен">
                            </form>
                        </td>
                    {{/if}}
                {{/if}}
                <td>
                    <form action="/admin/orders/delete/{{this.id}}" method="POST">
                        <input type="submit" class="btn btn-danger" value="Удалить заказ">
                    </form>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
<br><br>
{{#if isMore}}
    <button onclick="AddMoreOrders(event)" class="btn btn-success btn-list-more" id="show-more-orders">Загруить еще</button>
{{/if}}
<div id="will-be-btn"></div>