<table>
    <tr>
        <td>Изображение</td>
        <td>Название</td>
        <td style="width: 132px;">Артикул</td>
        <td style="width: 132px;">Размер</td>
        <td style="width: 132px;">Цена</td>
        <td>Колличество</td>
    </tr>
    {{#each categories}}
        <tr>
            <td>
                <h2>{{this.title}}</h2>
            </td>
        </tr>
        {{#each @root.Product}}
            {{#ifeq this.categoryId ../this.id}}
                <tr>
                    <td><img src="../media/{{this.image}}"></td>
                    <td valign="top">{{this.title}}</td>
                    <td valign="top">{{this.article}}</td>
                </tr> 
                {{#each @root.DimensionProducts}}
                    {{#ifeq this.productId ../this.id}}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="position: absolute; margin-top: -200px;">{{this.dimension}}</td>
                            <td style="position: absolute; margin-top: -200px; margin-left: 150px;">{{this.price}}</td>
                            <td style="position: absolute; margin-top: -200px; margin-left: 300px;">{{this.count}}</td>
                            <td><br></td>
                        </tr>
                    {{/ifeq}}
                {{/each}}
            {{/ifeq}}
        {{/each}}
    {{/each}}
</table>