<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->

	<head>

		<!-- Basic Page Needs
	================================================== -->
		<meta charset="utf-8">
		<title>Single Article &ndash; Santorini</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS
	================================================== -->
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic%7CMontserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='/views/santorini5/css/flexslider.css' rel='stylesheet' type='text/css'>
		<link href='/views/santorini5/css/font-awesome.css' rel='stylesheet' type='text/css'>
		<link href='/views/santorini5/css/weather-icons.css' rel='stylesheet' type='text/css'>
		<link href='/views/santorini5/css/bootstrap.css' rel='stylesheet' type='text/css'>
		<link href='/views/santorini5/css/prettyPhoto.css' rel='stylesheet' type='text/css'>
		<link href='/views/santorini5/css/mmenu.css' rel='stylesheet' type='text/css'>
		<link href='/views/santorini5/css/jquery-ui-1.10.4.datepicker.min.css' rel='stylesheet' type='text/css'>
		<link href='/views/santorini5/style.css' rel='stylesheet' type='text/css'>
		<link href='/views/santorini5/css/mediaqueries.css' rel='stylesheet' type='text/css'>
		<link href='/views/santorini5/colors/default.css' rel='stylesheet' type='text/css'>

		<!-- Favicons
	================================================== -->
		<link rel="shortcut icon" href="#">
		<link rel="apple-touch-icon" href="#">
		<link rel="apple-touch-icon" sizes="72x72" href="#">
		<link rel="apple-touch-icon" sizes="114x114" href="#">

		<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<![endif]-->

		
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>


	</head>

	<body class=" ">
		{{>header}}
			<main id="main">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 col-lg-offset-1">
							<div class="row">
								<div class="col-sm-8">
									<article class="entry">
										<figure class="entry-thumb">
											<a href="/media/{{product.image}}" data-rel="prettyPhoto">
												<img src="/media/{{product.image}}" style="min-width: 100%;" alt="Placeholder image" />
												<!--http://placehold.it/750x425-->
											</a>
										</figure>

										<h1 class="entry-title">{{product.title}}</h1>

										<div class="entry-content">
											<p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa debitis distinctio dolor fugiat, ipsam, laudantium libero mollitia omnis praesentium quia rem.</strong></p>
											
											<table class="table">
												<tr>
													<th>Размеры</th> <th>Цена</th> <th>Колличество</th>
												</tr>
												{{#each dimension}}
													<tr>
														<td>{{this.dimension}}</td> <td>{{this.NewPrice}} руб.</td> <td>{{#if this.count}}{{this.count}}{{else}}<font color='red'>Нет в наличии</font>{{/if}}</td>
													</tr>
												{{/each}}
											</table>
											<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Заказать</button>
											<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
												<div class="modal-dialog modal-dialog-centered" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="exampleModalLongTitle">Заказ товара</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
																<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<div class="modal-body">
															<font color="red" id="error_order"></font>
															<table class="table">
																<tr>
																	<th></th> <th>Размеры</th> <th>Цена</th> <th>Колличество</th>
																</tr>
																{{#each dimension}}
																	{{#if this.count}}
																	<tr>
																		<td><input type="radio" name="DimensionProductId" value="{{this.id}}"></td> 
																		<td>{{this.dimension}}</td> 
																		<td>{{this.NewPrice}} руб.</td> 
																		<td>{{this.count}}</td>
																	</tr>
																	{{else}}
																	{{/if}}
																{{/each}}
															</table>
															<input type="text" id="address" name="address" placeholder="Адресс доставки"><br><br>
															<input type="text" id="number" name="number" placeholder="Номер телефона">
														</div>
														<div class="modal-footer">
															<input type="submit" id="create_order" class="btn btn-primary" value="Заказать товар">
														</div>
													</div>
												</div>
											</div>
										</div>

										{{!-- <div id="comments">
											<div class="post-comments">
												<h3>
													<span>Комментарии</span>
												</h3>

												<ol id="comment-list">
													<li class="comment ">
														<div class="comment-text group">
															<div class="wrap">

																<img alt='' src='http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=50' class='avatar' height='50' width='50' />
																<div class="comment-copy">
																	<p class="comment-meta">
																		<a href='' class='url'>John Doe</a> October 30, 2013 3:45 am
																	</p>
																	<p>
																		Lorem ipsum dolor sit amet, consectetur adipisicing elit. A corporis debitis dicta doloribus ea fuga iste labore natus neque officia perferendis perspiciatis quas quis rem sapiente, ullam velit veritatis vitae.
																	</p>
																</div>
															</div>

														</div>
													</li>
												</ol>

											</div>
											<!-- .post-comments -->

											<section id="respond">
												<div id="form-wrapper" class="group">
													<div class="post-form">
														<h3 id="reply-title" class="comments">
															<span>Добавить комментарий</span>
														</h3>
														<div class="wrap">
															<form action="/" method="post" id="commentform">
																<p>
																	<label for="author">
																		Имя:
																		<span class="required">*</span>
																	</label>
																	<input type="text" class="input-text" id="author" name="author" value="" aria-required='true' />
																</p>
																<p>
																	<label for="comment">Комментарий:</label>
																	<textarea cols="5" rows="5" id="comment" name="comment" aria-required="true"></textarea>
																</p>
																<p>
																	<input type="submit" class="button" id="submit" value="Комментировать" />
																</p>
															</form>
														</div>
													</div>
												</div>
												<!-- #form-wrapper -->
											</section> 
										</div>--}}
									</article>
								</div>

								<div class="col-sm-4">
									<div class="sidebar">

										<div class="widget widget_ci_special_offer_widget">
											<h3 class="widget-title">Специальное предложение</h3>
											<div class="item">
												<figure class="item-thumb">
													<a href="/single/{{hot_product.id}}">
												<img src="/media/{{hot_product.image}}" alt="Placeholder image" /><!--http://placehold.it/750x930-->
											</a>
												</figure>

												<div class="item-content">
													<h4>{{hot_product.title}}</h4>
													<a class="item-title btn" href="/single/{{hot_product.id}}">Просмотреть товар</a>
												</div>
											</div>
										</div>

										<div class="widget widget_ci_testimonial_widget">
											<div class="testimonial-wrap">
												<div class="testimonial-inner">
													<blockquote>
														<i class="fa fa-quote-left"></i>
														<div id="single_quote"></div>
													</blockquote>
												</div>
											</div>
										</div>

										<aside class="widget widget_search group">
											<h3 class="widget-title">поиск</h3>

											<form action="/search" method="Post" role="search" class="searchform">
												<div>
													<input type="hidden" name="page" value="1">
													<input type="text" id="s" name="search" value="" placeholder="поиск">
													<button class="searchsubmit" type="submit"><i class="fa fa-search"></i></button>
												</div>
				                                <input type="hidden" name="categoryId" value="-1">

											</form>
										</aside>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			{{>footer }}
		</div>
		<!-- #page -->

		<!-- Javascript
================================================== -->
		<script type='text/javascript' src='/views/santorini5/js/jquery-1.10.1.min.js'></script>
		<script type='text/javascript' src='/views/santorini5/js/jquery-ui-1.10.4.custom.min.js'></script>
		<script type='text/javascript' src='/views/santorini5/js/superfish.min.js'></script>
		<script type='text/javascript' src='/views/santorini5/js/jquery.flexslider-min.js'></script>
		<script type='text/javascript' src='/views/santorini5/js/jquery.mmenu.min.js'></script>
		<script type='text/javascript' src='/views/santorini5/js/jquery.dropkick-min.js'></script>
		<script type='text/javascript' src='/views/santorini5/js/jquery.fitvids.js'></script>
		<script type='text/javascript' src='/views/santorini5/js/jquery.prettyPhoto.js'></script>
		<script type='text/javascript' src='/views/santorini5/js/contact.js'></script>
		<script type='text/javascript' src='/views/santorini5/js/scripts.js'></script>
		<script src="/public/single.js"></script>
	</body>

</html>